@import url('https://fonts.googleapis.com/css?family=Raleway');
  
html {
    font-size: 62.5%; /* 10px = 1rem */
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body{
    color: #798a9a;
    line-height: 1.7;
    font-size: 1.6rem;
    font-weight: 300;
}


h2,h3,h4{
    color: #2c3e50;
    font-weight: 200;
    margin-bottom: 0.1rem;
}

h2 span{
    font-weight: 800;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 2rem;
}


img{
    width: 100%;
}


ul li{
    list-style-type: none;
}

a{
    transition: .3s ease-in-out;
}

/* buttons */

.btn{
    font-size: 1.6rem;
    border-radius: 10rem !important;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #ffbd39;
    border: none;
    transition: .3s ease-in-out;
}

.btn-cv{
    background-color: #8f8f8f;
    color: #fff;
}

.btn:hover{
    cursor: pointer;
    background-color: #2c3d50;
    color: #fff;
}

.logo{
    font-size: 1.8rem;
    border: 2px solid #ffffff;
    max-height: 3rem;
    transition: .3s;
}

.logo a{
    text-transform: uppercase;
    letter-spacing: .2em;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #fff;
}



.logo:hover {
    border: 2px solid #ffbd39;
}

.logo:hover a{

    color: #ffbd39;
}

/* navbar */

.navbar{
    margin-bottom: -8rem;

    padding-top: 2rem;
}

.nav-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navbar-nav{
    display: flex;
    font-size: 1.6rem;
    gap: 6rem;
}

ul.navbar-nav a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

ul.navbar-nav a:hover{
    color:#ffbd39;
}



.head__top{
    background: url(../img/bg.jpeg) no-repeat center top;
    height: 100vh;
    background-size: cover;
    color: #fff;

    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head__blockFlex{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
}

.mask{
    
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

h1.head__title{
    font-size: 6rem;
    font-weight: 200;
    margin: 0;
   
}

h1.head__title span{
    font-weight: 800;
    color: #ffbd39;
}

.head__desc{
    margin-bottom: 2rem;
    font-weight: 200;
    font-size: 2.4rem;
}

.row-gap{
    gap: 10px;
}

h2 {
    position: relative;
    font-weight: 200;
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

.title:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 2px;
    width: 50px;
    background: #ffbd39;
    /* z-index: -1; */
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* about */


.about {
    margin: 10rem 0;
}

.about__block {
    display: flex;
    gap: 8rem;
    justify-content: space-between;
    
}
.about__avatar {
    max-width: 35%;
    
}

.about__avatar img{
    max-width: 100%;
    height: auto;
}

.about__text {
    max-width: 55%;
    line-height: 1.5;
}

.about__text h2.title{
    text-align: left;
}

.about__text h2.title:before{
    left: 0;
    transform: none;
}

.about__btns{
    margin-top: 3rem;
}

p.about__small{
    font-size: 1.4rem;
    font-weight: 200;
}

/* skills */

.skills{
    padding-bottom: 10rem;
    
    
}

.skills__row{
    display: flex;
    justify-content: space-between;
}

.skills__titleBlock{
    min-width: 22%;
}

.progress {
    background-color: #e4e4e4;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.3;
}


.progress-bar{
    background-color: #ffbd39;
    border-radius: 1rem;

    
}

.skills__block{
    display: flex;
    justify-content: space-between;
    min-width: 74%;
}

.skills__left, .skills__right{
    min-width: 45%;
}

/* portfolio */

.portfolio{
    background-color: #f8f9fa;
    padding: 6rem 0;
}

.portfolio__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
}

.portfolio__filter ul{
    display: flex;
    justify-content: center;

    gap: 4rem;
    margin: 4rem 0;
}

.portfolio__filter ul > li {
    list-style-type: none;
}

.portfolio__filter ul li:hover {
    
}

.portfolio__filter a{
    color: #2c3e50;
    text-decoration: none;

    font-weight: 600;
    font-size: 1.5rem;
    padding: 7px 25px;
    border: 1px solid #f89d36;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.portfolio__filter a:hover, .portfolio__filter a:active{
    border: 1px solid #ffbd39;
    background: #ffbd39;
    color: #fff;
}

.portfolio__item {

    
    background: #fff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 1rem;
    text-align: center;
}

.portfolio__item:hover{
    cursor: pointer;
    box-shadow: 0 1px 30px rgba(248, 157, 54, 0.5);
}
.item__img img{
    object-fit: cover;
    height: 35rem;
    width: 100%;
}
.item__title {
    font-size: 2.2rem;
    margin: 1rem;
}
.item__desc {
    text-transform: uppercase;
    color: #cccccc;
}

/* experience */

.experience h2{
    margin-bottom: 6rem;
}

.gray-bg {
    background-color: #f5f5f5;
    padding: 6rem 0;
}

.experience__row{
    display: flex;
    gap: 4rem;
}

.resume-box {
    background: #ffffff;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    border-radius: 10px;
  }
  .resume-box ul {
    margin: 0;
    padding: 3rem 2rem;
    list-style-type: none;
  }
  .resume-box li {
    position: relative;
    padding: 0 2rem 0 6rem;
    margin: 0 0 3rem;
  }
  .resume-box li:last-child {
    margin-bottom: 0;
  }
  .resume-box li:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2rem;
    border-left: 1px dashed #ffbd39;
    bottom: 0;
  }

  .resume-box .icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    color: #ffbd39;
    line-height: 4rem;
    background: #ffffff;
    text-align: center;
    z-index: 1;
    border: 1px dashed;
    border-radius: 50%;
  }
  .resume-box .time {
    background: #ffbd39;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    display: inline-block;
    margin-bottom: 1.2rem;
    border-radius: 2rem;
    font-weight: 600;
  }
  .resume-box h5 {
    font-weight: 700;
    color: #2c3e50;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .resume-box p {
    margin: 0;
  }
  
  .resume-box li:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 2rem;
      border-left: 1px dashed #ffbd39;
      bottom: 0;
  }

  .resume__col h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0;
  }

/* facts */

.facts{
    background: url(../img/bg_facts.jpeg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.facts .mask{
    height: auto;
}

.facts__bg{
    padding: 3rem 1rem;
}

.facts .title{
    color: #fff;
    font-weight: 800;
}

.facts__counts{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 7rem 0;
}

.facts__subtitle{
    color: #fff;
}

.item__icon{
    color: #ffbd39;
    font-size: 3rem;
}

.item__count{
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

  /* blog */

.blog{
    padding: 6rem 0;
    background-color: #f8f9fa;
  }

.blog h2{
    margin-bottom: 6rem;
  }

.blog__block{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.blog__card{
    background: #fff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: left;
    margin-bottom: 30px;
    overflow: hidden;
}

.blog__card a{
    text-decoration: none;
    color: #2c3d50;
}

.blog__card a:hover{
    color: #ffbd39;
}

.card__details{
    padding: 2rem;
}

.card__title{
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #2c3e50;
}

.card__text{
    font-size: 1.4rem;

    overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
}

.card__details > button{
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    margin-top: 2rem;
    letter-spacing: 0;
    border: 2px solid #ffbd39;
    background-color: transparent;
}

.card__details > button:hover{
    background-color:#ffbd39;
    color: #fff;
}

.card__img{
    max-width: 100%;
    height:auto;
}

.card__img img{
    height: 17rem;
    object-fit: cover;
    transition: 1s;
}

.card__img img:hover{
    transform: scale(1.2); 
}

.card__bottom, .blog__date, .blog__comments{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-right: 1rem;
}

.blog__date > p, .blog__comments > p{
    font-size: 1rem;
}

/* contacts */

.contacts{
    padding: 6rem 0;
}
.contacts__row{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}

.contacts__col-left{
    width: 48%;
    background: #fff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 4rem;
}

.contacts__col-right{
    width: 40%;
    background: #fff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 4rem;
}

.contacts__col-left i{
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    margin-top: 3%;
}

.col-left__text h4{
    padding: 0 0 0 60px;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #050d18;
    margin-top: 0;
}

.col-left__text p{
    padding: 0 0 1rem 6rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: #173b6c;
    margin-top: 0;
}

.form-control input{
    display: block;
    border: 1px solid #ddd;
    font-size: 1.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.form-control textarea{
    padding: 1rem;
    width: 100%;
    border: 1px solid #ddd;
    color: #798a9a;
    font-weight: 200;
}

.form-control .form__row{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-control .btn{
    width: auto;
    margin: 0 auto;
    border: none;
    margin-top: 1rem;
}